@inject IItemUrlService UrlService
@using Blog.Data
@using Lightcore.Kernel.Url
@model Lightcore.Kernel.Data.Item
<div class="post">
    <h1 class="post-title">
        <a href="@UrlService.GetUrl(Model)">@Model["title"]</a>
    </h1>
    @Html.Raw(Model["text"])
    <span>Posted @DateTime.Parse(Model["date"]).ToHumaneString()</span>
</div>