@inject IItemUrlService UrlService
@using Blog.Data
@using Blog.Website.Components
@using Lightcore.Kernel.Url
@model Lightcore.Kernel.Data.Item
<div class="post">
    <h1 class="post-title">
        <a href="@UrlService.GetUrl(Model)">@Model["title"]</a>
    </h1>
    @Html.Raw(Model["text"])
    <span class="post-date">Posted @DateTime.Parse(Model["date"]).ToHumaneString(), tagged: @await Component.InvokeAsync(nameof(Tags), new {Item = Model})</span>
</div>