<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("Head", required: true)
    <link href="@Context.GetAbsoluteUrl("/rss.xml")" type="application/rss+xml" rel="alternate" title="invokecommand.net">
    <environment names="Development">
        <link rel="stylesheet" href="/css/poole.css">
        <link rel="stylesheet" href="/css/hyde.css">
        <link rel="stylesheet" href="/css/site.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true">
    </environment>
</head>
<body>
    <div class="sidebar">
        <div class="container sidebar-sticky">
            <div class="sidebar-about">
                <h2>
                    <a href="/">
                        invokecommand.net
                    </a>
                </h2>
                <p class="lead">adventures in code, DevOps, Sitecore and technology</p>
                <p class="awards">
                    <a href="https://mvp.sitecore.com/">
                        <img src="/content/images/2026-Sitecore_MVP_Technology.png" alt="Sitecore MVP since 2017">
                    </a>
                </p>
            </div>
            <nav class="sidebar-nav">
                <a class="sidebar-nav-item" rel="me" href="https://fosstodon.org/@@pbering">@@pbering@@fosstodon.org</a>
                <a class="sidebar-nav-item" href="https://github.com/pbering">github.com/pbering</a>
                <a class="sidebar-nav-item" href="https://github.com/sitecoreops">github.com/sitecoreops</a>
                <a class="sidebar-nav-item" href="@Context.GetAbsoluteUrl("/rss.xml")">RSS</a>
            </nav>
        </div>
    </div>
    <div class="content container">
        @RenderBody()
    </div>
</body>
</html>