@inject IItemUrlService UrlService
@using Blog.Data
@using Lightcore.Kernel.Url
@model Lightcore.Kernel.Data.Item
@foreach (var child in Model.Children)
{
    <h1 class="post-title">
        <a href="@UrlService.GetUrl(child)">@child["title"]</a>
    </h1>
    <p>@child["summary"]</p>
    <span class="post-date">Posted @DateTime.Parse(child["date"]).ToHumaneString()</span>
}