@using Lightcore.Kernel.Url
@using Lightcore.Mvc
@model Lightcore.Kernel.Data.Item
@inject IItemUrlService UrlService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model["title"] - invokecommand.net</title>
    <environment names="Development">
        <link rel="stylesheet" href="/css/poole.css">
        <link rel="stylesheet" href="/css/hyde.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
</head>
<body class="layout">
<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h2>
                <a href="/">
                    invokecommand.net
                </a>
            </h2>
            <p class="lead">random thoughts about code, devops and technology</p>
        </div>
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="https://twitter.com/pbering">twitter.com/pbering</a>
            <a class="sidebar-nav-item" href="https://github.com/pbering">github.com/pbering</a>
            <a class="sidebar-nav-item" href="/rss.xml">RSS</a>
        </nav>
    </div>
</div>
<div class="content container">
    @await Html.Lightcore().PlaceholderAsync("main")
</div>
</body>
</html>