@model Blog.Website.Models.PostModel
<div class="post">
    <h1 class="post-title"><a href="@Model.Url">@Model.Title</a></h1>
    @Html.Raw(Model.Text)
    @await Html.PartialAsync("_Tagged", Model)
</div>